* {
    box-sizing: border-box;
}

.calc {
    width: 400px;
    background-color: black;
}

.screen {
    color: white;
    text-align: end;
    font-family: monospace;
    font-size: 50px;
    padding: 0.4em;
}

.button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 3px;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    width: 24.5%;
    cursor: pointer;
}

.calc-button:last-child {
    background-color: #df974c;
    color: white;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.triple {
    width: 75%;
}

.double {
    width: 49.7%;
}